* {
    font-family: 'Nanum Myeongjo', serif;
}

body {
    background-color: #7f4f24;
    color: #FFF;
    font-size: 1em;
}

h1 {
    display: inline;
    font-weight: bold;
    font-size: 2em;
    filter: drop-shadow(10px 10px 4px rgba(0,0,0,0.5));

}

h2 {
    font-size: 3em;
}

p {
    margin: 1em;
}

ol {
    display:block;
    margin: 1em;
    list-style: decimal;
    list-style-type: decimal;
}

li {
    margin: 1em;
}

a {
    color: #FFF;
}

a:visited {
    color: #c2c5aa;
}


strong {
    font-weight: bold;
    font-size: 1.25em;
}

.nav-bg {
    background-color: #333d29;
}

nav a {
    display:inline-block;
}

.content-bg {
    background-color: #582f0e;
    border-radius: 16px;
    filter: drop-shadow(10px 10px 4px rgba(0,0,0,0.5));
    margin-top: 2em;
}

